<div>
    <h1 style="color:red; text-align:center;">Restaurar tu contrase単a</h1>
    <br/>
    <div style=" text-align: center; ">
        <img src="cid:banner">
    </div>
    <h2>Este cierre te permitira colocar una nueva contrase単a para tu cuenta</h2>
    <p>
        Es importante que la contrasea単a que coloques sea diferente a la actual
    </p>

    <p>Puedes restablecer tu contrase単a <a href="http://localhost:4000/restorePassword?token={{restoreToken}}">en este enlace</a></p>
</div>