<!-- cart.handlebars -->
<div class="page-nav d-flex justify-content-between align-items-center">
  <button id="btnVolver" class="button-volver">Volver</button>
  <h1 class="text-center">Carrito</h1>
  <button id="btnFinalizar" class="button-finalizar">Finalizar compra</button>
</div>


<div id="page-content" class="page-content">
  <div class="container "></div>
{{#if productsCart.length}}
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Código de Referencia</th>
          <th scope="col">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        {{#each productsCart}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{this._id}}</td>
            <td>{{this.quantity}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  <p class="alert alert-info">No hay productos en el carrito</p>
{{/if}}





