<h1>Carrito</h1>

{{#if cart.products.length}}
  <ul>
    {{#each cart.products}}
      <li>
        <h2>{{this.product._id}}</h2>
        <p>Cantidad: {{this.quantity}}</p>
        <!-- Puedes mostrar más detalles del producto aquí, como nombre, precio, etc., utilizando la estructura del objeto del producto -->
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No hay productos en el carrito</p>
{{/if}}
