<!-- cart.handlebars -->

<h1>Carrito</h1>

{{#if productsCart.length}}
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Código de Referencia</th>
          <th scope="col">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        {{#each productsCart}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{this._id}}</td>
            <td>{{this.quantity}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  <p class="alert alert-info">No hay productos en el carrito</p>
{{/if}}





