<div class="text-center">

    <h1 class="page-nav-login">Logeate</h1>

    <form id="loginForm" class="vertical-form" >     
      

        <label>Email</label>
        <input name="email">

        <label>Contraseña</label>
        <input type="password" name="password">

        <input class="pages btn btn-sm btn-info"  type="submit">
    </form>
    <p>No estas registrado? ? puedes <a href="/register">Registrarte aqui</a></p>
<p>Olvidaste tu contraseña ? puedes <a href="/restoreRequest">Restaurala aqui</a></p>  
    <p>Tambien Puedes Ingresar Por Github</p>
    <a href="/api/sessions/github"><button class="pages btn btn-sm btn-info" >github</button></a>
</div>

<script src="/js/login.js"></script>