<div class="text-center">

    <h1 class="page-nav-login">Logeate</h1>

    <form id="loginForm" >     
      

        <label>Email</label>
        <input name="email">

        <label>Contraseña</label>
        <input type="password" name="password">

        <input class="pages btn btn-sm btn-info"  type="submit">
    </form>

    <p>Tambien Puedes Ingresar Por Github</p>
    <a href="/api/sessions/github"><button class="pages btn btn-sm btn-info" >github</button></a>
</div>

<script src="/js/login.js"></script>