<div class="text-center">
    <h1>Hola, {{user.name}}</h1>
    <p>Correo: {{user.email}}</p>
    <p>Role: {{user.role}}</p>
     <a href="/api/sessions/logout"><button class="pages btn btn-sm btn-info">Salir</button></a>
    <a href="/"><button class="pages btn btn-sm btn-info">Ir a Productos</button></a>
</div>