<div class="text-center">

    <h1 class="page-nav-login">Regístrate</h1>

    <form id="registerForm" class="vertical-form">

        <label>Nombre</label>
        <input name="first_name">

        <label>Apellido</label>
        <input name="last_name">

        <label>Email</label>
        <input name="email">

        <label>Contraseña</label>
        <input type="password" name="password">

        <input class="pages btn btn-sm btn-info" type="submit">
    </form>
</div>

<script src="/js/register.js"></script>