<h1>Escribe tu correo</h1>


<p>el correo que escribas recibira un link de restauracion solo si esta en nuestra base</p>


<form id="restoreRequestForm">
    <input name="email">
    <input type="submit" id="submitter">

</form>

<p id="message"></p>


<script src="/js/restoreRequest.js"></script>