/* Contenido de home.css */

#cart {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    width: 400px;
    padding-left: 15px;
    gap: 10px;
    text-align: left;
}

.keyDer {
    color: blue;
    font-weight: bold;
}

#mostrarProductos,
.mostrarCarrito {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}

p {
    margin: 0;
}

.mostrarProductosCart {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.productosCarritoContenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.mb-3 {
    padding: 2%;
}

body {
    margin: 0px;
    background-color: aliceblue;
    font-family: 'Nerko One', cursive;
}

button {
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}

.page-nav {
    background-color: #2196F3;
    border: 1px solid black;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-nav-login {
    background-color: #2196F3;
    border: 1px solid black;
    position: relative;
}

.page-nav h1 {
    margin: 20px;
    flex-grow: 1;
}

.button-checkout {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

/* ... (otras reglas de estilo de home.css) ... */

.cartIMG {
    width: 50%;
    height: 100px;
}

/* Contenido de style.css */

/* ... (reglas de estilo de style.css) ... */
