body{
    background-color:dodgerblue;
    text-align: center;
}


#cart{
    padding-top: 20px;
    padding-bottom: 20px;
    display:flex ;
    flex-direction: column;
    background-color: white;
    border:1px solid black;
    border-radius: 15px;
    width: 400px;
    padding-left: 15px;
    gap:10px;
    text-align: left;
}

#cart button{
    margin-top: 30px;
    background-color: brown;
    border: none;
    border-radius: 15px;    
    height: 25px;
    width: 70px;
    color: white;
    font-weight: bold;
    align-self: center;
}

#cart button:hover{
    color:black;
}

.keyDer{
    color:blue;
    font-weight: bold;    
}

p{
    margin:0;
}

#formulario,#formularioActualizacion,#formularioEliminar{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap:20px;    
    text-align: left;    
    width: 500px;    
}

#formulario label,#formularioActualizacion label,#formularioEliminar label{
    font-weight: bold;
    font-size: 20px;    
    width: 150px; 
    display: inline-block;  
}


.formConteiner,.formConteinerActualizacion,.formConteinerEliminar{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.botonForm{
    margin-top: 30px;
    align-self: center;
    background-color: darkblue;
    border:none;
    border-radius: 15px;
    color:white;
    height: 35px;
    width: 100px; 
    font-weight:bold;
}

.botonForm:hover{
   color: black;
}

#mostrarProductos{
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.errorForm,.errorFormAct,.errorFormEli {
    color:brown;
    font-size: 30px;
    font-weight: bold;
    display:none;
}