



button {
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}

.page-nav {
    background-color: #2196F3;
    border: 1px solid black;
    position: relative;
    display: flex; /* Añadimos flexbox */
  justify-content: space-between; /* Distribuye los elementos a los extremos */
  align-items: center; /* Centra verticalmente los elementos */
}

.page-nav-login {
    background-color: #2196F3;
    border: 1px solid black;
    position: relative;
}

.page-nav h1 {
    margin: 20px;
    flex-grow: 1; /* Hace que el título ocupe el espacio restante */
}

.button-checkout {
    background-color: white;
    color: black;
    border: 2px solid #008CBA; /* Blue */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.button-checkout2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA; /* Blue */
    transition-duration: 0.4s;
    position: relative;
    right: 15px;
    bottom: 15px;
}

.button-checkout:hover {
    background-color: #008CBA; /* Blue */
    color: white;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.product-container {
    border-radius: 20px;
    margin: 10px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.product-container img {
    width: 300px;
}

.product-container h1 {
    margin-bottom: 10px;
    margin-left: 15px;
}

.product-container h3 {
    text-align: center;
}

.button-add {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
  
.button-add:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.button-add.disabled {
    background-color: white;
    color: black;
    border: 2px solid #9e9e9e; 
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
  
.button-add.disabled:hover {
    background-color: #9e9e9e; 
    color: white;
}

.order {
    min-width: 75%;
    display: none;
}

.order-table {
    width: 100%;
    text-align: center;
    font-size: large;
    padding-bottom: 20px;
    border-bottom: 1px solid #9e9e9e;
}

.order-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.order-actions p {
    padding-left: 20px;
    padding-right: 20px;
}

.order-actions p:hover {
    cursor: pointer;
}

.order-shipping {
    font-size: large;
    padding-bottom: 20px;
    border-bottom: 1px solid #9e9e9e;
}

.order-shipping .form-group {
    padding-bottom: 5px;
}

input {
    border-radius: 4px;
    border: 1px solid #9e9e9e;
}

.container {
    border: 1px solid rgba(0, 0, 0, .11);
    ;
    padding: 10px;
    width: 500px
}

.controls-item {
    display: inline-block;
}

.btn {
    margin: 1px;
}

.button-volver {
    background-color: white;
    color: black;
    border: 2px solid #008CBA; /* Blue */
    transition-duration: 0.4s;
    margin-right: 10px; /* Agregamos margen para separar del título */
  }
  
  .button-finalizar {
    background-color: white;
    color: black;
    border: 2px solid #008CBA; /* Blue */
    transition-duration: 0.4s;
  }
  
/* Agrega margen y estilo general a los contenedores de formularios */
.formConteiner,
.formConteinerActualizacion,
.formConteinerEliminar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border: 3px solid #ccc;
    border-radius: 10px;
}

.tituloadmin {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border: 3px solid #ccc;
    border-radius: 10px;
}

/* Estilo específico para los títulos de los formularios */
.formConteiner h1,
.formConteinerActualizacion h1,
.formConteinerEliminar h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilo para los mensajes de error en los formularios */
.errorForm,
.errorFormAct,
.errorFormEli {
    display: none;
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

/* Mostrar mensajes de error cuando sea necesario */
.errorForm.show,
.errorFormAct.show,
.errorFormEli.show {
    display: block;
}

/* Estilo para los botones en los formularios */
.formConteiner button[type="submit"],
.formConteinerActualizacion button[type="submit"],
.formConteinerEliminar button[type="submit"] {
    margin-top: 10px;
}

/* Estilo para los campos de formulario */
.formConteiner input[type="text"],
.formConteinerActualizacion input[type="text"],
.formConteinerEliminar input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

/* Estilo para los campos de formulario en estado inválido */
.formConteiner input:invalid,
.formConteinerActualizacion input:invalid,
.formConteinerEliminar input:invalid {
    border-color: red;
}

/* Estilo para las etiquetas de los campos de formulario */
.formConteiner label,
.formConteinerActualizacion label,
.formConteinerEliminar label {
    font-weight: bold;
    margin-top: 10px;
}

/* Agrega espacio entre el botón "Salir" y el borde inferior */
.page-nav-login a {
    margin-top: 10px;
}

/*REGISTER*/

.vertical-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px; /* Ajusta el ancho según tus necesidades */
    margin: 0 auto;
}

.vertical-form label {
    margin-bottom: 5px;
}

.vertical-form input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%; /* O ajusta el ancho según tus necesidades */
}

.text-center {
    text-align: center;
}

/*PERFIL*/

.profile-template {
    text-align: center;
    margin-top: 50px;
}

.profile-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-email,
.profile-userID,
.profile-idCarrito {
    font-size: 16px;
    margin-bottom: 5px;
}

.profile-button {
    margin-top: 10px;
}

.profile-changeRol {
    margin-top: 20px;
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.profile-changeRol:hover {
    background-color: #e67e22;
}

.cartIMG{
    width: 50%;
    height: 100px;
}
